{% extends 'base.html' %}
{% load static %} 

{% block title %} {{recipe.name}} {% endblock %}

{% block content %}
    Recipe Name: {{ recipe.name }}
    Author: {{ recipe.author.name }}

    Created on: {{ recipe.created_on }}
    Last updated: {{ recipe.updated_on }}
    <br>
    Ingredients: 
        <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>Name: {{ingredient.ingredient.name}}</li>
            <ul>
                <li>Quantity: {{ingredient.quantity}}</li>
            </ul>
            {% endfor %}
        </ul>
{% endblock %}

