{% extends 'ledger/base_blogpage.html' %}
{% load static %} 

{% block title %}Recipe List{% endblock %}

{% block content %}
    <ul>
        {% for recipe in recipes %}
        <li>Name: {{recipe.name}}
            <br>
            Ingredients: 
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li>Name: {{ingredient.name}}</li>
                <li>Quantity: {{ingredient.quantity}}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

